<h2>接口文档演示</h2>

<p><strong>[2021-8-7] 注: 除基本的注册登录外, 其他接口操作需要在请求Header中加入登录时用户放回的token (目前不需要加token也可以返回正常响应, 后续加入认证功能后需要token才能执行操作).</strong></p>

<h3>用户操作接口</h3>

<p><strong>用户注册</strong><br/>
- 请求方式: <code>POST</code><br/>
  - 请求URL: <code>http://49.232.73.36:8081/user/register</code>(不需要token)<br/>
- 请求格式: <code>JSON</code></p>

<pre><code>{
    &#34;name&#34;: &#34;robot-8&#34;,
    &#34;nick_name&#34;: &#34;robot-8&#34;,
    &#34;password&#34;: &#34;123456&#34;,
    &#34;email&#34;: &#34;robot8@robot.com&#34;,
    &#34;phone&#34;: &#34;13111111118&#34;,
    &#34;gender&#34;: 1,
    &#34;degree&#34;: &#34;本科&#34;,
    &#34;position&#34;: &#34;教师&#34;,
    &#34;employer&#34;: &#34;none&#34;,
    &#34;major&#34;: &#34;英语&#34;
}
</code></pre>

<ul>
<li><p>响应格式: <code>JSON</code></p>

<pre><code>{
&#34;code&#34;: 2000,
&#34;message&#34;: &#34;注册失败&#34;,
&#34;data&#34;: {
    &#34;user_id&#34;: 0,
    &#34;name&#34;: &#34;&#34;,
    &#34;description&#34;: &#34;用户已存在（手机号或邮箱已被注册）&#34;
}
}
// or
{
&#34;code&#34;: 1000,
&#34;message&#34;: &#34;注册成功&#34;,
&#34;data&#34;: {
    &#34;user_id&#34;: 8,
    &#34;name&#34;: &#34;robot-9&#34;,
    &#34;description&#34;: &#34;ok&#34;
}
}
</code></pre></li>
</ul>

<p><strong>用户登录</strong><br/>
- 请求方式: <code>POST</code><br/>
  - 请求URL: <code>http://49.232.73.36:8081/user/login</code>(不需要token)<br/>
- 请求格式: <code>JSON</code></p>

<pre><code>{
    &#34;email&#34;: &#34;robot8@robot.com&#34;,
    &#34;password&#34;:&#34;123456&#34;
}
</code></pre>

<ul>
<li><p>响应格式: <code>JSON</code></p>

<pre><code>{
&#34;code&#34;: 1000,
&#34;message&#34;: &#34;登录成功&#34;,
&#34;data&#34;: {
    &#34;user_id&#34;: 7,
    &#34;user_info&#34;: {
        &#34;name&#34;: &#34;robot-8&#34;,
        &#34;email&#34;: &#34;robot8@robot.com&#34;,
        &#34;phone&#34;: &#34;13111111118&#34;,
        &#34;gender&#34;: 1,
        &#34;degree&#34;: &#34;本科&#34;,
        &#34;position&#34;: &#34;教师&#34;,
        &#34;employer&#34;: &#34;none&#34;,
        &#34;major&#34;: &#34;英语&#34;
    },
    &#34;token&#34;: &#34;eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySUQiOjcsImV4cCI6MTYyODQwMDcxMSwiaWF0IjoxNjI4NDAwMTExLCJpc3MiOiJyb2JvdDhAcm9ib3QuY29tIn0.waGOCWn8nzvurBYxxv-L-zJZkQnxYp1DgZcPXPfnsFA&#34;,
    &#34;description&#34;: &#34;ok&#34;
}
}
// or
{
&#34;code&#34;: 2000,
&#34;message&#34;: &#34;登陆失败&#34;,
&#34;data&#34;: {
    &#34;user_id&#34;: 7,
    &#34;user_info&#34;: {
        &#34;name&#34;: &#34;&#34;,
        &#34;email&#34;: &#34;&#34;,
        &#34;phone&#34;: &#34;&#34;,
        &#34;gender&#34;: 0,
        &#34;degree&#34;: &#34;&#34;,
        &#34;position&#34;: &#34;&#34;,
        &#34;employer&#34;: &#34;&#34;,
        &#34;major&#34;: &#34;&#34;
    },
    &#34;token&#34;: &#34;&#34;,
    &#34;description&#34;: &#34;认证错误,请重试&#34;
}
}
</code></pre></li>
</ul>

<p><strong>用户信息更改</strong><br/>
- 请求方式: <code>POST</code><br/>
  - 请求URL: <code>http://49.232.73.36:8081/user/updateInfo</code> (需要token)<br/>
- 请求格式: <code>JSON</code></p>

<pre><code>{
    &#34;id&#34;: 5,
    &#34;name&#34;: &#34;robot-5&#34;,
    &#34;nick_name&#34;: &#34;robot-5&#34;,
    &#34;email&#34;: &#34;robot5@robot.com&#34;,
    &#34;phone&#34;: &#34;13111111115&#34;,
    &#34;gender&#34;: 2,
    &#34;degree&#34;: &#34;本科&#34;,
    &#34;position&#34;: &#34;助理&#34;,
    &#34;employer&#34;: &#34;none&#34;,
    &#34;major&#34;: &#34;物理&#34;
}
</code></pre>

<ul>
<li><p>响应格式: <code>JSON</code></p>

<pre><code>{
&#34;code&#34;: 1000,
&#34;message&#34;: &#34;信息更新成功&#34;,
&#34;data&#34;: {
    &#34;user_id&#34;: 5,
    &#34;name&#34;: &#34;robot-5&#34;,
    &#34;description&#34;: &#34;ok&#34;
}
}
// or
{
&#34;code&#34;: 2000,
&#34;message&#34;: &#34;信息更新失败&#34;,
&#34;data&#34;: {
    &#34;user_id&#34;: 5,
    &#34;name&#34;: &#34;robot-5&#34;,
    &#34;description&#34;: &#34;信息已被注册，请重试&#34;
}
}
</code></pre></li>
</ul>

<p><strong>用户密码更改</strong><br/>
- 请求方式: <code>POST</code><br/>
  - 请求URL: <code>http://49.232.73.36:8081/user/updatePwd</code> (需要token)<br/>
- 请求格式: <code>JSON</code></p>

<pre><code>{
    &#34;id&#34;: 6,
    &#34;old_password&#34;:&#34;abcdef&#34;,
    &#34;new_password&#34;:&#34;123456&#34;
}
</code></pre>

<ul>
<li><p>响应格式: <code>JSON</code></p>

<pre><code>{
&#34;code&#34;: 2000,
&#34;message&#34;: &#34;信息更新失败&#34;,
&#34;data&#34;: {
    &#34;user_id&#34;: 6,
    &#34;name&#34;: &#34;robot-6&#34;,
    &#34;description&#34;: &#34;认证失败,请重试&#34;
}
}
// or
{
&#34;code&#34;: 1000,
&#34;message&#34;: &#34;信息更新成功&#34;,
&#34;data&#34;: {
    &#34;user_id&#34;: 6,
    &#34;name&#34;: &#34;robot-6&#34;,
    &#34;description&#34;: &#34;ok&#34;
}
}
</code></pre></li>
</ul>

<p><strong>使用id获取用户信息</strong><br/>
- 请求方式: <code>GET</code><br/>
  - 请求URL: <code>http://49.232.73.36:8081/user/getInfo?user_id=5</code>(需要token)<br/>
- 请求格式: <code>URL-Params</code>(见上方url参数)<br/>
- 响应格式: <code>JSON</code></p>

<pre><code>{
    &#34;code&#34;: 1000,
    &#34;message&#34;: &#34;获取信息成功&#34;,
    &#34;data&#34;: {
        &#34;user_id&#34;: 5,
        &#34;user_info&#34;: {
            &#34;name&#34;: &#34;robot-5&#34;,
            &#34;email&#34;: &#34;robot5@robot.com&#34;,
            &#34;phone&#34;: &#34;13111111115&#34;,
            &#34;gender&#34;: 2,
            &#34;degree&#34;: &#34;本科&#34;,
            &#34;position&#34;: &#34;助理&#34;,
            &#34;employer&#34;: &#34;none&#34;,
            &#34;major&#34;: &#34;物理&#34;
        },
        &#34;description&#34;: &#34;ok&#34;
    }
}
</code></pre>

<p><strong>用户退出登录</strong> <em>调试中</em><br/>
- 请求方式: <code>GET</code><br/>
- 请求格式: <code>URL-Params</code></p>

<pre><code>{}
</code></pre>

<ul>
<li><p>响应格式: <code>JSON</code></p>

<pre><code>{}
</code></pre></li>
</ul>

<p><strong>删除用户</strong><br/>
- 请求方式: <code>GET</code><br/>
  - 请求URL: <code>http://49.232.73.36:8081/user/delete?user_id=2</code>(需要token)<br/>
- 请求格式: <code>URL-Params</code>(见上方URL参数)<br/>
- 响应格式: <code>JSON</code></p>

<pre><code>{
    &#34;code&#34;: 2000,
    &#34;message&#34;: &#34;用户删除失败&#34;,
    &#34;data&#34;: {
        &#34;user_id&#34;: 2,
        &#34;name&#34;: &#34;&#34;,
        &#34;description&#34;: &#34;对应信息不存在&#34;
    }
}
// or
{
    &#34;code&#34;: 1000,
    &#34;message&#34;: &#34;用户删除成功&#34;,
    &#34;data&#34;: {
        &#34;user_id&#34;: 1,
        &#34;name&#34;: &#34;&#34;,
        &#34;description&#34;: &#34;ok&#34;
    }
}
</code></pre>

<h3>项目操作接口</h3>

<h3>文件操作接口</h3>

<p><strong>文件上传</strong><br/>
- 请求方式: <code>POST</code><br/>
  - 请求URL: <code>http://49.232.73.36:8081/file/upload</code><br/>
- 请求格式: <code>form-data</code></p>

<pre><code>key: file_name
value: file
</code></pre>

<ul>
<li><p>响应格式: <code>JSON</code></p>

<pre><code>{
&#34;code&#34;: 1000,
&#34;message&#34;: &#34;上传文件成功&#34;,
&#34;data&#34;: {
    &#34;file_id&#34;: &#34;70050161-6d4a-40b8-b2d5-49e0f7b9d497&#34;,
    &#34;file_name&#34;: &#34;横向多种条形图.png&#34;,
    &#34;file_type&#34;: &#34;.png&#34;,
    &#34;file_path&#34;: &#34;static/files/2021-8-7/70050161-6d4a-40b8-b2d5-49e0f7b9d497.png&#34;,
    &#34;description&#34;: &#34;ok&#34;
}
}
</code></pre></li>
</ul>

<p><strong>文件下载</strong><br/>
- 请求方式: <code>GET</code><br/>
  - 请求URL: <code>http://49.232.73.36:8081/file/download?file_id=18541826-bd1c-47ba-a7d8-a9ba7497a152</code><br/>
- 请求格式: <code>URL-Params</code>(上面URL的参数是文件的uuid)<br/>
- 响应格式: <code>JSON</code> or <code>FILE</code>(若请求成功直接下载)</p>

<pre><code>// 请求失败情况
{
    &#34;code&#34;: 2000,
    &#34;message&#34;: &#34;获取文件信息失败&#34;,
    &#34;data&#34;: {
        &#34;file_id&#34;: &#34;18541826-bd1c-47ba-a7d8-a9ba7497a153&#34;,
        &#34;file_name&#34;: &#34;&#34;,
        &#34;file_type&#34;: &#34;&#34;,
        &#34;file_tags&#34;: null,
        &#34;file_path&#34;: &#34;&#34;,
        &#34;file_description&#34;: &#34;&#34;,
        &#34;file_owner&#34;: &#34;&#34;,
        &#34;description&#34;: &#34;文件操作失败&#34;
    }
}
</code></pre>

<p><strong>获取文件信息</strong><br/>
- 请求方式: <code>GET</code><br/>
  - 请求URL: <code>http://49.232.73.36:8081/file/getInfo?file_id=aad492b1-9cfb-4866-946c-790204aadd4e</code><br/>
- 请求格式: <code>URL-Params</code>(见上方请求URL)<br/>
- 响应格式: <code>JSON</code></p>

<pre><code>{
    &#34;code&#34;: 1000,
    &#34;message&#34;: &#34;获取文件信息成功&#34;,
    &#34;data&#34;: {
        &#34;file_id&#34;: &#34;aad492b1-9cfb-4866-946c-790204aadd4e&#34;,
        &#34;file_name&#34;: &#34;横向多种条形图.png&#34;,
        &#34;file_type&#34;: &#34;.png&#34;,
        &#34;file_tags&#34;: [],
        &#34;file_path&#34;: &#34;static/files/2021-8-8/aad492b1-9cfb-4866-946c-790204aadd4e.png&#34;,
        &#34;file_description&#34;: &#34;&#34;,
        &#34;file_owner&#34;: &#34;&#34;,
        &#34;description&#34;: &#34;ok&#34;
    }
}
</code></pre>

<p><strong>文件搜索</strong> <em>完善中</em></p>

