[data-component=home-page]{
    width: 100%;
    height: 100%;
    background-color: #EFF4FF;
    > .ant-layout-header{
        background-color: white;
    }
    > .container{
        > .ant-layout-sider,.ant-layout-content{
            background-color: #EFF4FF;
        }
    }
}